[submodule "ThirdParty/LBFGS"]
	path = ThirdParty/LBFGS
	url = https://github.com/MIRTK/LBFGS.git
[submodule "Packages/Deformable"]
	path = Packages/Deformable
	url = https://github.com/MIRTK/Deformable.git
[submodule "Packages/Mapping"]
	path = Packages/Mapping
	url = https://github.com/MIRTK/Mapping.git
[submodule "Packages/DrawEM"]
	path = Packages/DrawEM
	url = https://github.com/MIRTK/DrawEM.git
[submodule "Packages/Scripting"]
	path = Packages/Scripting
	url = https://github.com/MIRTK/Scripting.git
[submodule "Packages/Viewer"]
	path = Packages/Viewer
	url = https://github.com/MIRTK/Viewer.git
