[submodule "ThirdParty/Boost"]
	path = ThirdParty/Boost
	url = https://github.com/MIRTK/Boost.git
[submodule "ThirdParty/Eigen"]
	path = ThirdParty/Eigen
	url = https://github.com/MIRTK/Eigen.git
[submodule "Packages/Deformable"]
	path = Packages/Deformable
	url = https://github.com/MIRTK/Deformable.git
[submodule "Packages/Mapping"]
	path = Packages/Mapping
	url = https://github.com/MIRTK/Mapping.git
[submodule "ThirdParty/LBFGS"]
	path = ThirdParty/LBFGS
	url = https://github.com/MIRTK/LBFGS.git
