[submodule "ThirdParty/Boost"]
	path = ThirdParty/Boost
	url = https://github.com/MIRTK/Boost.git
[submodule "ThirdParty/Eigen"]
	path = ThirdParty/Eigen
	url = https://github.com/MIRTK/Eigen.git
[submodule "Packages/Deformable"]
	path = Packages/Deformable
	url = https://github.com/MIRTK/Deformable.git
[submodule "Packages/VolumetricMapping"]
	path = Packages/VolumetricMapping
	url = https://github.com/MIRTK/VolumetricMapping.git
